[data-theme="light"],
:root:not([data-theme="dark"]) {
  --primary: #bdc900;
  --primary-hover: #bccf0b;
  --primary-focus: #bccf0b;
  --primary-inverse: #fff;
  --font-family: "open sans", sans-serif;
}
.danger {
  --primary: #d76e82;
  --primary-hover: #d8604c;
  --primary-focus: #d8604c;
}
.form-sub-button {
  --typography-spacing-vertical: 0;
}
